.left-box {
    float: left;
    width: 50%;
    background-color: #7D1E26;
    min-width: 305px;
    height: 94vh;
    border: 10px solid #B03635;
    border-right: 0;
}

.right-box {
    background-color: #1D662E;
    height: 94vh;
    border: 10px solid #3FAB46;
    border-left: 0;
}

.wrapper { 
  overflow:hidden;
}

.search-word {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 5px;
}
.title {
    position: relative;
    top: 15px;
    font-size: 6rem;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}
.news {
    font-size: 3rem;
}

.fake {
    color: #DD5156;
}

.real {
    color: #3DAE46;
}

.counter {
    position: relative;
    top: 5%;
    font-size: 6rem;
    text-align: center;
    line-height: 0.5;
}
.mentions {
    color: white;
    font-size: 2rem;
}
.since {
    color: white;
    font-size: 1.5rem;
    position: relative;
    top: 20px;
}
.underline-fake {
    height: 2px;
    width: 250px;
    background: #DB4F54;
    margin: 0 auto;
    margin-bottom: 10px;
}
.underline-real {
    position: relative;
    height: 2px;
    width: 250px;
    background: #3DAD44;
    margin: 0 auto;
    margin-bottom: 10px;
    left: 25%;
    top: -10px;
}
.vs-description {
    position: relative;
    bottom: 91vh;
}
.vs {
    text-align: center;
    font-size: 6rem;
    color: white;
    height: 0;
}

.ring-description {
    position: relative;
    top: 75px;
    text-align: center;
    color: white;
    height: 0;
}
.footer {
    text-align:center;
}
#real-news-circle {
    position: relative;
    left: 25%;
}
.circle {
    height: 25vw;
    width: 25vw;
    margin: 0 auto;
}
@media screen and (max-width: 980px) {
   .left-box { 
    float: none;
    margin-right:0;
    width:auto;
    border-right: 10px solid #B03635;
    height: 620px;
    border-bottom: 0;
  }
  .right-box {
    border-left: 10px solid #3FAB46;
    border-top: 0;
    height: 620px;
  }
  .vs-description {
    bottom: 680px;
  }

  .underline-real {
    left: 0;
  }
  #real-news-circle {
    left: 0;
  }
  .circle {
    height: 30vh;
    width: 30vh;
  }
}
